Options +FollowSymLinks
RewriteEngine On

RewriteRule    ^clasament$    /?high-score=true    [NC,L]
RewriteRule    ^scor$    /?score=true    [NC,L]
RewriteRule    ^raspunsuri$    /?report=true    [NC,L]
RewriteRule    ^de_citit$    /?readme=true    [NC,L]



